@media (prefers-reduced-motion: reduce) {
  .VPDoc *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

.VPDoc {
  line-height: 1.4;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

.VPDoc.dark {
  color-scheme: dark;
}

.VPDoc {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  line-height: 24px;
  font-family: var(--vp-font-family-base);
  font-size: 16px;
  font-weight: 400;
  color: var(--vp-c-text-1);
  background-color: var(--vp-c-bg);
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.VPDoc main {
  display: block;
}

.VPDoc h1,
.VPDoc h2,
.VPDoc h3,
.VPDoc h4,
.VPDoc h5,
.VPDoc h6 {
  margin: 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

.VPDoc p {
  margin: 0;
}

.VPDoc strong,
.VPDoc b {
  font-weight: 600;
}

/**
 * Avoid 300ms click delay on touch devices that support the `touch-action`
 * CSS property.
 *
 * In particular, unlike most other browsers, IE11+Edge on Windows 10 on
 * touch devices and IE Mobile 10-11 DON'T remove the click delay when
 * `<meta name="viewport" content="width=device-width">` is present.
 * However, they DO support removing the click delay via
 * `touch-action: manipulation`.
 *
 * See:
 * - http://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
 * - http://caniuse.com/#feat=css-touch-action
 * - http://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay
 */
.VPDoc a,
.VPDoc area,
.VPDoc button,
.VPDoc [role='button'],
.VPDoc input,
.VPDoc label,
.VPDoc select,
.VPDoc summary,
.VPDoc textarea {
  touch-action: manipulation;
}

.VPDoc a {
  color: inherit;
  text-decoration: inherit;
}

.VPDoc ol,
.VPDoc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.VPDoc blockquote {
  margin: 0;
}

.VPDoc pre,
.VPDoc code,
.VPDoc kbd,
.VPDoc samp {
  font-family: var(--vp-font-family-mono);
}

.VPDoc img,
.VPDoc svg,
.VPDoc video,
.VPDoc canvas,
.VPDoc audio,
.VPDoc iframe,
.VPDoc embed,
.VPDoc object {
  display: block;
}

.VPDoc figure {
  margin: 0;
}

.VPDoc img,
.VPDoc video {
  max-width: 100%;
  height: auto;
}

.VPDoc button,
.VPDoc input,
.VPDoc optgroup,
.VPDoc select,
.VPDoc textarea {
  border: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}

.VPDoc button {
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  background-image: none;
}

.VPDoc button:enabled,
.VPDoc [role='button']:enabled {
  cursor: pointer;
}

.VPDoc button:focus,
.VPDoc button:focus-visible {
  outline: 1px dotted;
  outline: 4px auto -webkit-focus-ring-color;
}

.VPDoc button:focus:not(:focus-visible) {
  outline: none !important;
}

.VPDoc input:focus,
.VPDoc textarea:focus,
.VPDoc select:focus {
  outline: none;
}

.VPDoc table {
  border-collapse: collapse;
}

.VPDoc input {
  background-color: transparent;
}

.VPDoc input:-ms-input-placeholder,
.VPDoc textarea:-ms-input-placeholder {
  color: var(--vp-c-text-3);
}

.VPDoc input::-ms-input-placeholder,
.VPDoc textarea::-ms-input-placeholder {
  color: var(--vp-c-text-3);
}
.VPDoc input::placeholder,
.VPDoc textarea::placeholder {
  color: var(--vp-c-text-3);
}

.VPDoc input::-webkit-outer-spin-button,
.VPDoc input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.VPDoc input[type='number'] {
  -moz-appearance: textfield;
}

.VPDoc textarea {
  resize: vertical;
}

.VPDoc select {
  -webkit-appearance: none;
}

.VPDoc fieldset {
  margin: 0;
  padding: 0;
}

.VPDoc h1, 
.VPDoc h2, 
.VPDoc h2,
.VPDoc h3,
.VPDoc h4,
.VPDoc h5,
.VPDoc h6,
.VPDoc li,
.VPDoc p {
  overflow-wrap: break-word;
}

.VPDoc vite-error-overlay {
  z-index: 9999;
}

.VPDoc mjx-container {
  overflow-x: auto;
}

.VPDoc  mjx-container > svg {
  display: inline-block;
  margin: auto;
}
